body {
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.profile-container{
	background-color: white;
	padding: 30px;
	border-radius: 12px;
	box-shadow: 0 4px 15px black;
	width: 300px;
	text-align: left;
}