body {
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.profile-container{
	background-color: rgb(247, 247, 247);
	padding: 30px;
	border-radius: 12px;
	box-shadow: 0 4px 15px;
	width: 300px;
	text-align: left;
}

.info-label {
	width: 100px;
	display:inline-block;
	color: #333;
	font-weight: bold;
}

a {
	display: inline-block;
	background-color: #007bff;
	color: #ffffff;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 10px;
	text-decoration: none;
}

a:hover {
	background-color: #0056b3
}

.Profil-info {
	line-height: 25px;
	color: #555;
	margin-bottom: 10px;
}

img {
	border-radius: 50%;
	object-fit: cover;
	border: 3px solid #333;
}